# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
coverage/

# Platform artifacts
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store
